page-paymentsetup {
	.jp-card {
		min-width: 0;
	}

	.card-wrapper {
		margin-bottom: 25px;
	}

	small {
		margin: 15px 0;
		color: #cfcfcf;
	}

	ion-select {
		max-width: none;
		width: 90%;
		padding-left: 0 !important;
	}

	ion-datetime {
		padding-left: 0 !important;
	}
}
