page-paymentsetup {
	.jp-card {
		min-width: 0;
	}

	.card-wrapper {
		margin-bottom: 25px;
	}

	small {
		margin: 15px 0;
		color: #cfcfcf;
	}

	ion-select, ion-datetime {
		max-width: none;
    	padding-left: 0px !important;
    	padding-right: 20px !important;
	}
}
